<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
</head>
<body>
    <div class = "jumbotron">
        <h1>You sure you want to delete {{record.street_address}}?</h1>
        <a href="/BLOG_POSTS/final_delete/{{record.id}}" class="btn btn-info" role="button">Yes</a>
        <a href="/BLOG_POSTS/listings" class="btn btn-info" role="button">No</a>
    </div>
</body>
</html>